<form action="/create" method="post">
    <h2>Create todo</h2>
    <div class="form-group">
        <label for="titletodo">Email address</label>
        <input type="text" class="form-control" id="titletodo" name="title">
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>



